<div class="inner-padding">
    <div class="filter d-flex justify-content-between align-items-center mb-4 gap-3 flex-wrap">
        <div class="filter-left d-flex align-items-center gap-x-2">
            <MudTextField T="string" @bind-Value="Search" Immediate="true" Placeholder="Search" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Class="search-input text-dark" />
            <Filter OnFilterApplication="OnDebtFilterHandler">
                <MudDatePicker @bind-Date="StartDate"
                               Label="Start Date"
                               Variant="Variant.Text"
                               DateFormat="dd.MM.yyyy"
                               Placeholder="Select a Start Date"
                               PickerVariant="PickerVariant.Dialog" />
                <MudDatePicker @bind-Date="EndDate"
                               Label="End Date"
                               Variant="Variant.Text"
                               DateFormat="dd.MM.yyyy"
                               Placeholder="Select a End Date"
                               PickerVariant="PickerVariant.Dialog" />
            </Filter>
        </div>
        <div class="filter-right">
            <MudText Style="color: green; font-size: 2rem;">Balance: @Balance</MudText>
            <MudText>Pending Debt Amount: @PendingDebtAmount</MudText>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" DropShadow="false" Class="btn btn--md" OnClick="OpenCloseInsertUserDebtModal" StartIcon="@Icons.Material.Filled.Add" Disabled="IsInsertUserDebtModalOpen">Add Debts</MudButton>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table country-table bg-success">
            <thead>
            <tr>
                <th class="text-white">#</th>
                <th @onclick="() => ChangeSorting(nameof(GetDebtDtoModel .Title))" class="text-white" style="cursor: pointer;">
                    Title
                    <MudIcon Icon="@GetSortIcon(nameof(GetDebtDtoModel .Title))" Class="ms-1" />
                </th>
                <th class="text-white" @onclick="() => ChangeSorting(nameof(GetDebtDtoModel .Amount))" style="cursor: pointer;">
                    Amount
                    <MudIcon Icon="@GetSortIcon(nameof(GetDebtDtoModel .Amount))" Class="ms-1" />
                </th>
                <th class="text-white">Source</th>
                <th class="text-white">Status</th>
                <th class="text-white" @onclick="() => ChangeSorting(nameof(GetDebtDtoModel .DueDate))" style="cursor: pointer;">
                    Due Date
                    <MudIcon Icon="@GetSortIcon(nameof(GetDebtDtoModel .DueDate))" Class="ms-1" />
                </th>
                <th @onclick="() => ChangeSorting(nameof(GetDebtDtoModel .ClearedDate))" style="cursor: pointer;">
                    Cleared Date
                    <MudIcon Icon="@GetSortIcon(nameof(GetDebtDtoModel .ClearedDate))" Class="ms-1" />
                </th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var debt in DebtDtoModels)
            {
            <tr>
                <td>@(DebtDtoModels.IndexOf(debt) + 1).</td>
                <td>@debt.Title</td>
                <td>@debt.Amount</td>
                <td>@debt.Source</td>
                <td>
                    @if (debt.Status != Models.Constant.DebtStatus.Cleared)
                    {
                        if (debt.Status == Models.Constant.DebtStatus.Pending)
                        {
                            <MudChip T="string" Variant="Variant.Outlined" Class="status" Color="Color.Warning">
                                <span>Pending</span>
                            </MudChip>
                        }
                        else
                        {
                            if (debt.Status == Models.Constant.DebtStatus.PastDue)
                            {
                                <MudChip T="string" Variant="Variant.Outlined" Class="status" Color="Color.Error">
                                    <span>Past Due</span>
                                </MudChip>
                            }
                        }
                    }
                    else
                    {
                        <MudChip T="string" Variant="Variant.Outlined" Class="status" Color="Color.Success">
                            <span>Cleared</span>
                        </MudChip>
                    }
                </td>
                <td>@debt.DueDate</td>
                <td>@debt.ClearedDate</td>
                <td>
                    @if (debt.Status != Models.Constant.DebtStatus.Cleared)
                    {
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" DropShadow="false" Class="btn btn--md" OnClick="() => OpenCloseClearUserDebtModal(debt.Id)" StartIcon="@Icons.Material.Filled.Add" Disabled="IsClearUserDebtModalOpen">Clear Debt</MudButton>
                    }
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@if (IsInsertUserDebtModalOpen)
{
    <ModalDialog Title="Tags" Size="lg">
        <BodyContent>
            <EditForm Model="InsertUserDebtDtoModel " FormName="Insert Debt" OnSubmit="InsertUserDebt">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <MudTextField @bind-Value="InsertUserDebtDtoModel .Title" 
                                  Label="Title" 
                                  For="@(() => InsertUserDebtDtoModel .Title)" 
                                  Variant="Variant.Text" 
                                  Placeholder="Enter the Debt Title" 
                                  Required="true"
                                  Immediate="true" />
                </div>
                <div class="mb-3">
                    <MudTextField @bind-Value="InsertUserDebtDtoModel .Amount"
                                  Label="Amount"
                                  For="@(() => InsertUserDebtDtoModel .Amount)"
                                  Variant="Variant.Text"
                                  Placeholder="Enter the Debt Amount"
                                  Required="true"
                                  InputType="InputType.Number"
                                  Immediate="true" />
                </div>
                <div class="mb-3">
                    <MudTextField @bind-Value="InsertUserDebtDtoModel .Source"
                                  Label="Source"
                                  For="@(() => InsertUserDebtDtoModel .Source)"
                                  Variant="Variant.Text"
                                  Placeholder="Enter the Debt Source"
                                  Required="true"
                                  Immediate="true" />
                </div>
                <div class="mb-3">
                    <MudDatePicker @bind-Date="InsertUserDebtDtoModel .DueDate"
                                   Label="Due Date"
                                   Variant="Variant.Text"
                                   DateFormat="dd.MM.yyyy"
                                   Placeholder="Select a End Date"
                                   PickerVariant="PickerVariant.Dialog" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" @onclick="@OpenCloseInsertUserDebtModal">Discard</button>
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </div>
            </EditForm>
        </BodyContent>
    </ModalDialog>
}

@if (IsClearUserDebtModalOpen)
{
    <ModalDialog Title="Tags" Size="lg">
        <BodyContent>
            <EditForm Model="GetDebtDtoModel " FormName="Clear Debt" OnSubmit="ClearUserDebt">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <span>Are you sure you want to clear the debt for @GetDebtDtoModel .Title due on @GetDebtDtoModel .DueDate, pending amount is @GetDebtDtoModel .Amount?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" @onclick="() => OpenCloseClearUserDebtModal(GetDebtDtoModel .Id)">Discard</button>
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </div>
            </EditForm>
        </BodyContent>
    </ModalDialog>
}